{% import _self as nav %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('dashboard') }}">Availability Service</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {{ nav.activeClass(activeNav,'homepage') }}>
            <a href="{{ path('dashboard') }}">Dashboard</a>
        </li>
        <li {{ nav.activeClass(activeNav,'recurring') }}>
            <a href="{{ path('job_list', {'jobType': 'recurring'}) }}">Recurring Jobs</a>
        </li>
        <li {{ nav.activeClass(activeNav,'failed') }}>
            <a href="{{ path('BCCResqueBundle_failed_list') }}">Failed Jobs</a>
        </li>
        <li {{ nav.activeClass(activeNav,'snapshots') }}>
            <a href="{{ path('snapshot_list') }}">Snapshots</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="helper-init-homepage" href="#help">Help</a>
        </li>
        <li>
            {% if is_global_active() %}
                <a href="{{ path('toggle_global_status') }}">Pause</a>
            {% else %}
                <a href="{{ path('toggle_global_status') }}">Play</a>
            {% endif %}
        </li>
        <li style="padding: 15px;">
            {% if is_global_active() %}
                <span class="label label-info">ACTIVE</span>
            {% else %}
                <span class="label label-warning">INACTIVE</span>
            {% endif %}
        </li>
        <li style="padding: 15px;">
            {% if is_redis_active() %}
                <span class="label label-success">ONLINE</span>
            {% else %}
                <span class="label label-success">OFFLINE</span>
            {% endif %}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% macro activeClass(activeNav,item) %}
{% if activeNav == item %}
class="active"
{% endif %}
{% endmacro %}
